<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GerenciamentoContatos.AutoModeling.Properties.Settings.TREINAMENTO_LEONARDO"
      connectionString="Data Source=STD2012X64R2-185\DESENVOLVIMENTO;Initial Catalog=TREINAMENTO_LEONARDO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GerenciamentoContatos.AutoModeling.Properties.Settings.TREINAMENTOLEONARDO"
      connectionString="Data Source=STD2012X64R2-18\DESENVOLVIMENTO;Initial Catalog=TREINAMENTO_LEONARDO;User ID=squadnasa;Password=selbricoh"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--add key="ConnectionString" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=TREINAMENTO_LEONARDO;Data Source=STD2012X64R2-185\DESENVOLVIMENTO"/-->
    <add key="ConnectionString" value="Password=selbricoh;Persist Security Info=True;User ID=squadnasa;Initial Catalog=TREINAMENTO_LEONARDO;Data Source=STD2012X64R2-18\DESENVOLVIMENTO"/>    
  </appSettings>
</configuration>